{% extends 'news/_base_index.html' %}

{% block title %}
Контакты для связи с нами
{% endblock %}

{% block content %}
<div class="text_area">
    <h1>Контакты студии Charm в Омске</h1>
	<p>Звоните и пишите нам в любое время, или отправьте свою анкету - мы  незамедлительно свяжемся с Вами. До встречи!</p>
		<center>
		    <div class="text-danger contact_big"> +7 (913) 930-01-58 </div>
			<br>
            <div class="text-danger contact_big"> charmstudioomsk@mail.ru </div>
			</center>
			<br>
			<p>Отправить анкету Вы можете <a class="text-primary" href="/anketa">здесь</a>.</p>
			<p>Территориальное расположение студии Charm на карте города Омск</p>
			<br>
            <center>
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9fcbc5a7d5d0719491d9f424c7328823fc8b4e22431acd32cab84805a329ad3a&amp;width=800&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
            </center>
		<div class="clear_big"></div>
</div>
{% endblock %}