{% extends 'news\_base_index.html' %}

{% block title %}
Студия Charm -высокооплачиваемая работа вебкам моделью в видеочате
{% endblock %}

{% block content %}
<div class="title_padding-bottom"> </div><div class="text_area">
    <h1>Суть работы Online моделью</h1>
    <p>Суть работы Online моделью заключается в личном online общении с посетителями специальных сайтов. </p>
    <p>Гости сайта – одинокие богатые люди, которые хотят почувствовать чье-то присутствие в своей жизни, или робкие личности – которым интернет предоставил возможность общения с Вами Красивой (Красивым), или просто веселые жизнерадостные человечки, с которыми Вы обязательно найдете общий язык. Вы можете заиметь друзей с различных уголков нашей планеты. (Россия и др. страны на выбор – заблокированы для посетителей)	</p>
    <p>Задача Модели состоит в том, чтобы заинтересовать человека настолько, чтобы тот был готов взять Модель в тет-а-тет чат, за который будет платить. Чем дольше Вы сможете удержать его своим общением и обаятельностью – тем больше денег Вы получите. (как это сделать – Вас научат наши Администраторы). Все, что происходит в тет-а-тет чате – остается только между Моделью и посетителем. Хочется заметить, что Вас никто ни к чему не принуждает - Вы общаетесь с кем хотите и как хотите. Никто другой не сможет видеть Вас или читать Вашу переписку, фото видео записи также не ведутся, Модель работает в комфортной изолированной комнате с кондиционером и внутренним замком.</p>
    <br>
        <div class="border-bottom border-top border-danger "><table border="0" align="center" border="2"><tr><td colspan="4" align="center"> <b>Студия Charm работает в 2 смены: </b> </td></tr><tr><td> Утро </td><td> Вечер </td></tr><tr><td> 08:00 - 15:00 </td><td> 15:00 - 21:00 </td></tr></table></div>
            <br>
            <p> <b>Вы сами составляете график работы на неделю</b>, исходя из своей занятости. Выплаты ведутся еженедельно, для новых сотрудников <b>возможна оплата день в день.</b></p>
            <p>
            Что Вам нужно, чтобы начать работать и зарабатывать?<br>
            1)&nbsp;Ваше желание.<br>
            2)&nbsp;Возраст от 18 лет.<br>
            3)&nbsp;Привлекательная внешность и внутреннее обаяние, легкость общения и улыбка<br>
            4)&nbsp;Наши и только наши Администраторы.
            </p>
            <br><br>
            <center> <h2>Преимущества работы Online моделью</h2> </center>
            <p>1.&nbsp;Неоспоримое и самое главное преимущество - это простота и легкость работы. <b>Вы общаетесь, заигрываете, флиртуете, а может быть и того легче - просто выслушиваете тяготы жизни собеседника.</b></p>
            <p>2.&nbsp;За минуту общения Вы получаете от 0.4 до 1.8 $. Причем, одновременно есть возможность общаться с несколькими гостями. Как Вы понимаете - возможности Вашего заработка не ограничены. У нас есть Модели, которые зарабатывают по <b>40 000 рублей в неделю.</b> </p>
            <p>3.&nbsp;Весьма важным преимуществом работы Online моделью - является <b>свободный график.</b> Вы сами выбираете удобное для Вас время и объем работы. Долой понедельники и будильники!</p>
            <p>4.&nbsp;Данная работа не подразумевает начальника. <b>Вы - начальник сам себе.</b> Никто Вам не будет ничего диктовать. Только советы Администраторов, которые помогут зарабатывать больше. Не плохо, да?</p>
            <p>5.&nbsp;Как говорилось ранее - Вы общаетесь с иностранцами и только с иностранцами - это уникальная <b>возможность найти друзей и узнать мир.</b> Вам будут попадаться собеседники, которые, используя камеру, покажут Вам из своего окна - вид на Эйфелеву башню, Big Ban, Бурдж Халиф и многое многое другое. И конечно, не стоит забывать, что если Вы не хотите с кем-то общаться - это Ваш выбор. <b>Никто Вас ничем не обязывает.</b></p>
            <p>6.&nbsp;Неоценимое преимущество данной работы - это возможность быстро освоить разговорный английский. На первых порах Вы пользуетесь простым online-переводчиком, а через 2 месяца переписки - уже легко и непринужденно сможете поддерживать и вести любую беседу.</p>
            <p>7.&nbsp;Так как работа подразумевает Вашу постоянную online трансляцию - получается, Вы постоянно на виду. Поверьте, уже через месяц работы - мы с Вами усовершенствуем Ваш внешний вид. Вы будете привлекательны и привлекать внимание Вы будете везде - на работе, на учебе, на улицах. Это приятное чувство :-)</p>
            <br><br>
            <center> <h2>Преимущества сотрудничества с CHARM STUDIO</h2> </center>
            <p>Мы нацелены на увеличение заработков наших моделей. И так как наши Администраторы - лучшие модели с разных студий Омска - мы прекрасно понимаем, что нужно для лучшего результата:</p>
            <p>1.&nbsp;Ваша внешность.<br> С этим Вам поможет стилист нашей Студии. В любой момент Вы можете к нему обратиться и посоветоваться.</p>
            <p>2.&nbsp;Ваша фотогеничность.<br> Для этого в студии работает фотограф, с которым Вам будет легко и интересно научиться основам фотографии и создать своё собственное портфолио.</p>
            <p>3.&nbsp;Место, в котором Вы работаете.<br> Оно должно быть изолированным, комфортным и красивым. Мы сделали именно такие - посмотрите фото офиса.</p>
            <p>4.&nbsp;Четкая трансляция видео.<br> Мы предоставляем для работы быстрый защищённый интернет, современные компьютеры и специализированные камеры, вещающие в HD формате.</p>
            <p>5.&nbsp;Понимание психологии общения с посетителями сайтов.<br> В этом Вам помогут наши опытные Администраторы.</p>
            <p>6.&nbsp;Английский язык.<br> На наших компьютерах стоят online переводчики. Наши администраторы научат Вас правильно и быстро ими пользоваться.</p>
            <p>7.&nbsp;<b>Мы поощряем наших сотрудников различными бонусами: солярий, фитнес, выездные фотосеты, бесплатный реквизит, возможность получать больший процент и еженедельные денежные бонусы!!!</b></p>
            <p>8.&nbsp;В нашей студии сложился молодой дружный коллектив.</p>
            <p>9.&nbsp;Studio Charm гарантирует Вам полную безопасность и конфиденциальность.</p>
            <br>
            <br><br>
{% endblock %}