footer{
    padding: 0;
    border: 0;
}
.SplashFrame{

    background: url(/static/images/images1.png) no-repeat 0 0;
    
    width: 497px;
    
    height: 236px;
    
    margin: 0 auto;
    
    padding: 27px 0 0 36px;
    
    }
    
.SlashEff{
    
    width: 550px;
    
    height:62px;
    
    margin: 20px auto 0;
    
    padding: 5px 0 0 60px;
    
    }
    
.SlashEff ul li{
    
    float: left;
    
    list-style-image: none;
    
    list-style-type: none; 
    
    width: 100px;
    
    cursor: pointer;
    
    }
    
.SlashEff ul li:hover{
    
    text-decoration: underline;
    
    }
.nvitations{
    display: inline-block;
    margin-left:25%;
    margin-top: 50px;
}
a.phone:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(https://studio-hollywood-spb.ru/style/images/phone.png) 50% 50% no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 0 0 10px;
}
a.mail:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: url(https://studio-hollywood-spb.ru/style/images/mail.png) 50% 50% no-repeat;
    width: 42px;
    height: 42px;
    margin: 0 30px 0 10px;
}
#navsidebar
{
    margin-left:0;
}
body
{
    padding: 0 2% 2% 2%;
    background: rgba(6, 4 ,6 )url(/static/images/kissback.png) no-repeat fixed center;
    height:100%;
    width:100%;
    font-family:"Verdana";

}
.w-75
{
    height:100%;
    margin-left: 22%;
    margin-bottom: 100px
}
.tem-1
{
    background-position: 0 -94px;
    display: inline-block;
    height: 22px;
}
.tem-2
{
    background-position: -40px -94px;
    display: inline-block;
    height: 18px;
}
.tem-3
{
    background-position: -80px -95px;
    display: inline-block;
    height: 22px;
}
.tem-4
{
    background-position: -116px -90px;
    display: inline-block;
    height: 22px;
}
.tem-5
{
    background-position: -1px -131px;
    display: inline-block;
    height: 22px;
    }
.tem-6
{
    background-position: -40px -123px;
    display: inline-block;
    height: 22px;
}
.tem-7
{
    background-position: -115px -123px;
    display: inline-block;
    height: 29px;
}
.tem-8
{
    background-position: -2px -155px;
    display: inline-block;
    height: 22px;
}
.tem-9
{
    background-position: -1px -160px;
    height: 18px;
    display: inline-block;
}
.icon 
{
    background-image: url(https://studio-hollywood-spb.ru/style/images/icons.png);
    width: 27px;
}
.baner
{
    color: #FFFFFF;
    display: block;
}
.baner:hover
{
    color: #FFFFFF;
    display: block;
}
#banner
{
    display: block;
    background-color: #A6295D;
}
#banner:hover
{
    display: block;
    background-color: #FF1100;
}
.mt
{
    margin:5% 0;
}
.fixed-left
{
    position: fixed;
}
#top
{
    margin-top:20px;
    margin-left:23%;
    background-image: url(/static/images/top.png);
    height: 100px;
    width: 1000px;
}
.m{
    background-image: url(/static/images/image.png);
    width:700px;
    height:542px;
}
@media (max-width: 1280px)
{
   #top{
        margin-top:20px;
        margin-left:200px;
   }
   .mt{
       bottom:200px;
   }
   .w-75
    {
    height:100%;
    margin-left: 25%;
    margin-bottom: 100px
    }
}
@media (max-width: 1079px)
{
    #top{
        margin-top:20px;
        background-image: url(/static/images/top1.png);
        height:75px;
        width: 470px;
        margin-left: 225px;
        }
    }

@media (min-width: 1079px)
{
.btnflip {
    display: none;
    position: absolute;
    bottom: 0px;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 20px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
}
.btnflip-item {
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    background-color: rgba(255,255,255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
}
.btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);
}
.btnflip-item.btnflip__center {
    background: linear-gradient(to left, #c31a5b, #7129bd);
}
.btnflip-item.btnflip__center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ffdd1f, #c31a5b);
    border-radius: 30px;
    transform: translateZ(-1px);
}
.btnflip:hover .btnflip-item.btnflip__center {
    transform: rotateX(-180deg);
  }
#sidebar{
    display: block;
    
}
#buton 
    {
    display: none;
    }
}
@media (min-width: 480px)
    {
    .btnflip {
        position: absolute;
        bottom: -15px;
        left: 50px;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 30px;
        text-align: center;
        transform-style: preserve-3d;
        perspective: 1000px;
        transform-origin: center center;
    }
    .btnflip-item {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        background-color: rgba(255,255,255, .05);
        transform-style: preserve-3d;
        backface-visibility: hidden;
        text-transform: uppercase;
        color: #fff;
        transition: 1s;
        border-radius: 30px;
    }
    .btnflip-item.btnflip__front {
        transform: rotateX(0deg) translateZ(20px);
    }
    .btnflip:hover .btnflip-item.btnflip__front {
        transform: rotateX(-180deg) translateZ(20px);
    }
    .btnflip-item.btnflip__back {
        transform: rotateX(180deg) translateZ(20px);
    }
    .btnflip:hover .btnflip-item.btnflip__back {
        transform: rotateX(0deg) translateZ(20px);
    }
    .btnflip-item.btnflip__center {
        background: linear-gradient(to left, #c31a5b, #7129bd);
    }
    .btnflip-item.btnflip__center::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #ffdd1f, #c31a5b);
        border-radius: 30px;
        transform: translateZ(-1px);
    }
    .btnflip:hover .btnflip-item.btnflip__center {
        transform: rotateX(-180deg);
      }
    #button{
        height: 30px;
        width: 103px;
        position: relative;
        bottom: -2px;
    }
    }

@media (max-width: 480px){
.btnflip {
    position: absolute;
    bottom: -7.5px;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 15px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
}
.btnflip-item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 15px;
    font-size: 7px;
    background-color: rgba(255,255,255, .05);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
}
.btnflip-item.btnflip__front {
    transform: rotateX(0deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__front {
    transform: rotateX(-180deg) translateZ(20px);
}
.btnflip-item.btnflip__back {
    transform: rotateX(180deg) translateZ(20px);
}
.btnflip:hover .btnflip-item.btnflip__back {
    transform: rotateX(0deg) translateZ(20px);
}
.btnflip-item.btnflip__center {
    background: linear-gradient(to left, #c31a5b, #7129bd);
}
.btnflip-item.btnflip__center::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #ffdd1f, #c31a5b);
    border-radius: 30px;
    transform: translateZ(-1px);
}
.btnflip:hover .btnflip-item.btnflip__center {
    transform: rotateX(-180deg);
  }
#button{
    height: 15px;
    width: 50px;
    position: relative;
    bottom: 6px;
}
#top{
    margin-top:20px;
    background-image: url(/static/images/top1.png);
    height: 75px;
    width: 470px;
    margin-left:0px;
}
.container-fluid{
   padding: 0;
}
.animation {
   display: none;
}
.w-75
{
   margin-left:55px;
}
.nav{
height: 100%;
width: 100%;
}
.invitations{
    margin-left:0;
    margin-top: 0px;
}
}